.calculadora {
    display: block;
    width: 280px;
    height: 300px;
    padding: 30px;
}

.calculadora td input{
    width: 50px;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
}

.calculadora th input{
    text-align: right;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
}

.botoes{
    background-color: #bebebe;
} 

.botaoAc{
    background-color: #ec150e;
}

.b1{
    background-color: #f7f4f4;
}

#bigual{
    background-color: #eca60e;
}
